---
layout: page
title: "About me"
description: ""
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
<p>
    大概在整个主页的搭建过程中，最难的莫过于这篇about me的撰写，所难之处便在于行文结构的选择。 若是选择时间线，本人方才二十有四，尚不谈国维先生所述“独登高楼”的境界，光是回溯到开始记事的年纪我都能掰着指头做到；而若是挑几件可以拿的出手的故事，又显得颇为啰嗦恼人。 于是就不如想到什么写什么，日后再删删改改。
</p>
<p>
   先从本人名字来说吧，小学入学前父亲才正式给我取名Peiqin，依稀记得当时父亲拿着一本绿色封皮的潮汕字典问我喜欢这名吗，我懵懵懂懂的就应承下来。 后来问父亲才知取此名之缘由大概有二，一则我的次兄名为Zeqin，以‘培’对‘泽’，颇有点山川对水泽的意味，二则算命先生说我一生缺土缺金，以Peiqin作名也是颇有点保佑的含义。 虽是如此，对外解释时我倒经常引用《说文解字》中的一句话。
</p>
   <blockquote>
   羲和钦若昊天而历象日月星辰。其钦者，敬也。
   </blockquote>
<p>
   说罢名字，说说自己的喜好吧。  第一在脑海里浮现的三个词，读书，滑板，音乐。
</p>
<p>
对于读书，倒也惭愧自本科后就再也没怎么读过新书，记得最后一本完整读下来的书还是几年前看的《南怀瑾讲演录》。 
</p>
<p>
对于滑板，其实是研究生突然感起兴趣，说不上擅长，更谈不上精通，只是很喜欢罢了。
</p>
<p>
最后对于音乐，学过一段时间吉他，在网易云上做过一两张歌单，如此水平尔尔。 可能比较值得骄傲的是，可能是同龄人里网易云里听歌记录最多的吧。
</p>
<p>
哦既然说到音乐，若是让我选最喜欢的乐队，我想暂时应该是告五人。
</p>
<p>
   倒是没有其他可以再说，就这样吧。
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
       Don't be evil. 
    </blockquote>

    <p>
My name is Peiqin Zhao.  I graduated from Carnegie Mellon University in 2018 and currently I work as a software engineer in Google. 
   </p>

    <p>
 Please feel free to contact me via email if you have anything interesting to share.
    </p>

    <p style="text-align:right;">
    -- To be Finished
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
